<% content_for :title, "Editar Forma" %>

<h1>Editar Forma</h1>

<%= render "form", forma: @forma %>

<br>

<div>
  <%= link_to "Ver esta forma", @forma %> |
  <%= link_to "Voltar para Formas", formas_path %>
</div>
