<% content_for :title, "Editing forma" %>

<h1>Editing forma</h1>

<%= render "form", forma: @forma %>

<br>

<div>
  <%= link_to "Show this forma", @forma %> |
  <%= link_to "Back to formas", formas_path %>
</div>
