<h1>Magnus Codex</h1>
<h3>Gerenciador de Cartas</h3>

<div>
  <%= link_to "Formas", formas_path %>
  <%= link_to "Transmutacoes", transmutacaos_path %>
  <%= link_to "Modificadores", modificadors_path %>
  <%= link_to "Personagens", personagems_path %>
</div>