<% content_for :title, "Editing transmutacao" %>

<h1>Editing transmutacao</h1>

<%= render "form", transmutacao: @transmutacao %>

<br>

<div>
  <%= link_to "Show this transmutacao", @transmutacao %> |
  <%= link_to "Back to transmutacaos", transmutacaos_path %>
</div>
