<% content_for :title, "Editar Transmutação" %>

<h1>Editar Transmutação</h1>

<%= render "form", transmutacao: @transmutacao %>

<br>

<div>
  <%= link_to "Ver esta transmutação", @transmutacao %> |
  <%= link_to "Voltar para Transmutações", transmutacaos_path %>
</div>
