<% content_for :title, "New transmutacao" %>

<h1>New transmutacao</h1>

<%= render "form", transmutacao: @transmutacao %>

<br>

<div>
  <%= link_to "Back to transmutacaos", transmutacaos_path %>
</div>
