<% content_for :title, "Nova Transmutação" %>

<h1>Nova Transmutação</h1>

<%= render "form", transmutacao: @transmutacao %>

<br>

<div>
  <%= link_to "Voltar para Transmutações", transmutacaos_path %>
</div>
