<% content_for :title, "Editar Modificador" %>

<h1>Editar Modificador</h1>

<%= render "form", modificador: @modificador %>

<br>

<div>
  <%= link_to "Ver este modificador", @modificador %> |
  <%= link_to "Voltar para Modificadores", modificadors_path %>
</div>
