<% content_for :title, "Editing modificador" %>

<h1>Editing modificador</h1>

<%= render "form", modificador: @modificador %>

<br>

<div>
  <%= link_to "Show this modificador", @modificador %> |
  <%= link_to "Back to modificadors", modificadors_path %>
</div>
