<% content_for :title, "Novo Modificador" %>

<h1>Novo Modificador</h1>

<%= render "form", modificador: @modificador %>

<br>

<div>
  <%= link_to "Voltar para Modificadores", modificadors_path %>
</div>
