<% content_for :title, "Editar Personagem" %>

<h1>Editar Personagem</h1>

<%= render "form", personagem: @personagem %>

<br>

<div>
  <%= link_to "Ver este personagem", @personagem %> |
  <%= link_to "Voltar para Personagens", personagems_path %>
</div>
